body {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: white;
    background-image: url('5309396.jpg');
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 95vh;
}

.informasi {
    background-color: rgb(7, 37, 66);
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-radius: 20px;
    padding: 15px;
    height: 58vh;
}

.informasi h2 {
    border-bottom: 2px solid white;
    height: 50px;
    color: rgb(255, 255, 255);
}